body {
  background-color: white;
}
body {
    padding-top: 70px;

    padding-bottom: 30px;
}
textarea:focus { font-size: 16px!important}
img.profile-image {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}.chat
 {
     list-style: none;
     margin: 0;
     padding: 0;
 }
.new-message-box{
    position:absolute;
    top: 30px;
    z-index:50;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.un-video {
    max-width:500px;
}

.un-video {
    max-width:500px;
}
.un-image-long {
    height : auto;
    width:auto;

}
.un-image {
    max-width              : 500px;
    border-radius      : 2px;
    border             : 1px solid #e4e4e4;
    min-height         : 250px;
    max-height         : 250px;
    overflow           : hidden;
    cursor             : pointer;
    padding-bottom     : 5px;
    -webkit-transition : all 0.5s linear;
    -o-transition      : all 0.5s linear;
    -moz-transition    : all 0.5s linear;
    -ms-transition     : all 0.5s linear;
    -kthtml-transition : all 0.5s linear;
    transition         : all 0.5s linear;
    box-shadow         : 0px 1px 1px 0 rgba(0, 0, 0, 0.26);
    border-bottom      : 5px solid #ffffff;
    margin             : 10px 0;
}
.panel-body
{
    overflow-y: scroll;
    height: 500px;
    margin-bottom:10px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
