.limit-loader {
  @extend .text-center;
  i {
    @extend .fa, .fa-history;
  }
}

.data-chat-list {
  @extend .list-unstyled;
  .mar-btm {
    margin-bottom: 15px;
  }
  white-space: nowrap;
  .media-left {
    float: left
  }
  .un-file-message {

  }
  .un-file-preview {
    width: 100px;
  }
  .un-file-store {
    i {
      @extend .fa, .fa-folder;
      font-size: 2em;
    }
  }
  .un-file-download {
    i {
      @extend .fa, .fa-download;
      font-size: 2em;
    }
  }
  .un-file-info {
    color:grey;
    font-size: 1em;
  }
  .un-file-wait-for-download {
    i {
      @extend .fa, .fa-spinner, .fa-spin;
      font-size: 2em;
    }
  }
  .media-right {
    float: right
  }
  .img-sm {
    height: 46px;
    width: 46px;
  }
  .data-message-body {
    @extend .media-body;
    padding-left: 15px;
    padding-right: 15px;
  }
  .message-read {
    i {
      @extend .fa, .fa-check;
      color: green;
    }
  }
  .speech {
    position: relative;
    background: #c6daf7;
    color: #444;
    display: inline-block;
    border-radius: 2px;
    padding: 12px 20px;
    .media-heading {
      font-size: 1.2em;
      color: #333;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-weight: 300
    }
    .media-heading {
      &:hover {
        text-decoration: underline
      }
    }
  }

  .speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300
  }

  .speech-right {
    text-align: right
  }

  .speech-right > .speech {
    background: #c6daf7;
    text-align: right
  }

  .speech:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #c6daf7;
    margin: 15px 0 0 -6px
  }

  .speech-right > .speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #c6daf7;
    border-right: 0;
    margin: 15px -6px 0 0
  }
}


