.data-chat-list-unread {
  @extend .dropdown-menu;
  border:0px;
  position:relative;
  .chat-header {
    @extend .dropdown-header;
    padding: 15px;


    .chat-text {
      @extend .text-sm, .text-muted, .text-thin;
    }
  }

  .text-item {
    font-size: 12px;
    list-style: outside none none;
    text-align: left;
    @extend .media;
    .profile-image {
      @extend .media-left;
      img {
        @extend .img-circle;
        height: 46px;
        width: 46px;
      }
    }
    .text-body {
      @extend .media-body;
      .text-message {
        @extend .text-nowrap;
        font-size: 0.9em;
        line-height: 1.25;
      }
      .text-date {
        @extend .text-muted;
      }
    }
  }
}