.data-chat-list-unread {
  @extend .dropdown-menu;
  .chat-header {
    @extend .dropdown-header;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;

    .chat-text {
      @extend .text-sm, .text-muted, .text-thin;
    }
  }

  .text-item {
    @extend .media;
    .profile-image {
      @extend .media-left;
      img {
        @extend .img-circle;
        height: 46px;
        width: 46px;
      }
    }
    .text-body {
      @extend .media-body;
      .text-message {
        @extend .text-nowrap;
        font-size: 0.9em;
        line-height: 1.25;
      }
      .text-date {
        @extend .text-muted;
      }
    }
  }
}