
.un-send-file {
  position: relative;
  overflow: hidden;
  margin: 10px;
  i {
    @extend .fa, .fa-upload;
    font-size: 2em;
  }
}
.un-send-file input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}