<div >

    <div class="panel panel-primary">
        <div class="panel-body" scroll-glue>
            <ul class="chat" >
                <li class="left clearfix" data-ng-repeat="message in messageList">
                            <span class="chat-img pull-left">
                            <img class="profile-image" ng-src="{{userMap[message.from].image}}" width="80">
                        </span>

                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{userMap[message.from].label}}</strong>
                            <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>
                                {{getFormateDate(message.message.meta.sendStamp) | date:'/dd/MM/yyyy @ H:mm a' :'GMT'}}
                            </small>

                        </div>
                        <p>
                            {{message.message.text}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" data-ng-model="text" class="form-control input-sm"
                       placeholder="Type your message here..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat"
                                    data-ng-click="sendTextMessage(userMap,channel);text='';">
                                Send
                            </button>
                        </span>
            </div>
        </div>
    </div>

</div>
