<div class="text-center" data-ng-click="limit=limit+10" title="load more from history">
    <i class="fa fa-history fa-2x"></i>
</div>

<ul class="list-unstyled" data-ng-init="limit=10">

    <li class="mar-btm" data-ng-repeat="message in messageList | limitTo:(limit*-1) | orderBy:'sendStamp'">
        {{message | json}}
        <div class="media-left" >
            <img class="img-circle img-sm" ng-src="{{userMap[message.from].image}}" width="80">{{userMap[message.from].label}}
        </div>
        <div class="media-body pad-hor">
            <div class="speech">
                <a href="#" class="media-heading">Thor</a>

                <p>
                    <ng-emoticons emoticons-template-url="views/unchatbar-data-chat/message.html"
                                  emoticons-data="message.message.text" emoticons-options="options"/>
                </p>

                <p class="speech-time">
                    <i class="fa fa-clock-o fa-fw"></i> {{getFormateDate(message.message.meta.date) |
                    date:'dd/MM/yyyy @ H:mm' :'GMT'}}
                </p>
            </div>
        </div>
    </li>
</ul>
