<div class="send-box">
    <form>
        <label for="input-message" translate>Your message</label>
        <div class="send-input">
                <textarea enter-submit="sendTextMessage(userMap,channel);text='';"
                          id="input-message"
                          cols="1"
                          c
                          msd-elastic="\n"
                          autocomplete="off"
                          data-ng-model="text" class="form-control input-sm"
                          placeholder="{{'Enter your message' | translate }}"></textarea>
          <span class="send-button">
            <button type="button"data-ng-click="sendTextMessage(userMap,channel);text='';">
                <i class="fa fa-comment"></i></button>
          </span>
        </div>
    </form>
</div>
