<ul role="menu" data-ng-init="showMessage=false"
    class="data-chat-list-unread"
        style="display: block;">
    <li class="chat-header">
        <span class="chat-text" translate>You have {{unreadMessageList.length || 0}} Messages</span>
    </li>
    <li data-ng-repeat="message in unreadMessageList | orderBy:'sendStamp'">
        <a ui-sref="channel({channel: message.channel})" class="text-item">
              <span class="profile-image">
                <img alt="{{userMap[message.from].label}}"
                     ng-src="{{userMap[message.from].image}}" class="img-circle img-sm">
              </span>

            <div class="text-body">
                <div class="text-message">{{message.meta.text}}</div>
                <small class="text-date">
                    {{getFormateDate(message.meta.date) | date:'dd/MM/yyyy @ H:mm' :'GMT'}}
                </small>
            </div>
        </a>
    </li>
</ul>
