<!doctype html>
<html class="no-js" ng-app="unchatbar-data-chat">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>unchatbar connection</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/unchatbar-user/app/styles/custom.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/offcanvas.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
</head>
<body>


<un-connection-peer-id></un-connection-peer-id>

<div class="container">
    <h1>DEMO (Demo Controller : unDataChatDemo)</h1>

    <div ng-controller="unDataChatDemo">
        <div class="row">
            <div class="col-md-5">
                <select ng-options="item.name for item in channelList" ng-model="activeChannel"></select>

                <div ng-repeat="user in userList[activeChannel.name]">
                    <b>{{user.id}}</b>/{{user.label}} <br/>
                </div>
            </div>
            <div class="col-md-7">
                Add user to Channel:
                <form>
                    <div class="form-group">
                        <label for="clientPeer">Client Peer Id</label>
                        <input type="input" data-ng-model="user.id" class="form-control" id="clientPeer"
                               placeholder="Enter client peer id">
                    </div>
                    <div class="form-group">
                        <label for="clientName">label</label>
                        <input type="input" data-ng-model="user.label" class="form-control" id="clientName"
                               placeholder="Enter client name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addUser()">add</button>
                </form>
            </div>
        </div>


        <h2>unread Message Box</h2>
        <un-data-chat-unread-message data-user-map="userListAll"></un-data-chat-unread-message>
        <hr>
        <h2>Message Box</h2>
        <un-data-chat-message-box data-channel="{{activeChannel.name}}"
                                  data-user-map="userList[activeChannel.name]"></un-data-chat-message-box>
    </div>
</div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/peerjs/peer.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/app.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/run.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/template.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/provider/profile.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/controller/profile.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/directive/profile-admin.js"></script>
<script src="bower_components/unchatbar-user/app/scripts/directive/profile.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/app.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/run.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/template.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/provider/broker.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/provider/data-connection.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/service/peer.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/directive/dialer.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/directive/login.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/directive/peerId.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/controller/dialer.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/constants.js"></script>
<script src="scripts/app.js"></script>
<!-- Provider -->
<script src="scripts/provider/message.js"></script>
<!-- Config -->
<script src="scripts/config/broker.js"></script>
<!-- Controller -->
<script src="scripts/controller/text.js"></script>

<!-- directive -->
<script src="scripts/directive/message-box.js"></script>
<script src="scripts/directive/unread-message.js"></script>

<!-- run -->
<script src="scripts/run.js"></script>
<!-- endbuild -->


<script>
    angular.module('unchatbar-data-chat').run(function (Broker) {
        Broker.connectServer();
    });

    angular.module('unchatbar-data-chat').controller('unDataChatDemo',
            function ($scope, Broker) {
                var ownPeerId = Broker.getPeerId();
                $scope.user = {};
                $scope.channelList = [{name: 'channelA'}, {name: 'channelB'}];
                $scope.activeChannel = $scope.channelList[0];
                $scope.userList = {
                    channelA: {},
                    channelB: {}
                };
                $scope.userList['channelA'][ownPeerId] = {
                    id: ownPeerId,
                    label: 'mySelf'
                };
                $scope.userList['channelB'][ownPeerId] = {
                    id: ownPeerId,
                    label: 'mySelf'
                };
                $scope.userListAll = {};


                $scope.addUser = function () {
                    var userId = $scope.user.id;
                    $scope.userList[$scope.activeChannel.name][userId] = $scope.user;
                    $scope.user = {};
                    mergeUserList();
                }

                function mergeUserList() {
                    $scope.userListAll = _.merge($scope.userList.channelA, $scope.userList.channelB);
                }

                mergeUserList();
            });
</script>
</body>
</html>
