<!doctype html>
<html class="no-js" ng-app="unchatbar-data-chat">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>unchatbar connection</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/offcanvas.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a href="#" class="navbar-brand">unchatbar Data chat</a>
        </div>
    </div>
</nav>
<div class="container" ng-controller="unDataChatDemo">
    <div class="jumbotron">
        <div ng-repeat="(channel,userMap) in channelList" class="container-fluid pull-left">
            <div class="panel panel-primary ">
                <div class="panel-heading">Channel:{{channel}}</div>
                <div class="panel-body">
                    <div ng-repeat="user in userMap" class="pull-left">
                        <div style="height: 100px;">
                            <img class="profile-image" ng-src="{{user.image}}" width="80">

                        </div>
                        {{user.label}}
                        <br/>
                        <button class="btn btn-default" data-ng-click="join(user.id)">select user</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div data-ng-show="ownPeerId" data-ng-init="activeChannel='GruppeA'">
        <div class="row">
            <div class="col-sx-12">
                <div class="page-header">
                    {{userMap[ownPeerId].label}}
                </div>
                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-repeat="(channel,userMap) in channelList"
                        data-ng-class="{'active' : channel === activeChannel}">

                        <a href="javascript:void(0)" data-ng-click="setActiveChannel(channel)">{{channel}}</a>
                    </li>
                    <li>
                        <un-data-chat-unread-message data-user-map="userMap"></un-data-chat-unread-message>
                    </li>
                </ul>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sx-12">
                <div ng-show="channelList[activeChannel][ownPeerId]">
                    <un-data-chat-message-box data-channel="{{activeChannel}}"
                                              data-user-map="channelList[activeChannel]"></un-data-chat-message-box>
                </div>
                <div ng-show="!channelList[activeChannel][ownPeerId]">
                    you are no member of group {{activeChannel}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/peerjs/peer.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/app.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/run.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/template.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/provider/broker.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/provider/data-connection.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/service/peer.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/directive/dialer.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/directive/login.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/directive/peerId.js"></script>
<script src="bower_components/unchatbar-connection/app/scripts/controller/dialer.js"></script>
<script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/constants.js"></script>
<script src="scripts/app.js"></script>
<!-- Provider -->
<script src="scripts/provider/message.js"></script>
<!-- Config -->
<script src="scripts/config/broker.js"></script>
<!-- Controller -->
<script src="scripts/controller/text.js"></script>

<!-- directive -->
<script src="scripts/directive/message-box.js"></script>
<script src="scripts/directive/unread-message.js"></script>

<!-- run -->
<script src="scripts/run.js"></script>
<!-- endbuild -->


<script>
    angular.module('unchatbar-data-chat').run(function (Broker) {
        //Broker.connectServer();
    });

    angular.module('unchatbar-data-chat').controller('unDataChatDemo',
            function ($scope, Broker) {
                $scope.userMap = {
                    'admin': {
                        id: 'admin',
                        label: 'Der Admin',
                        image: '/images/admin.jpg'

                    },
                    'mia': {
                        id: 'mia',
                        label: 'Mia',
                        image: '/images/support.jpg'

                    },
                    'meier': {
                        id: 'meier',
                        label: 'Herr Meier',
                        image: '/images/sales.jpg'

                    },
                    'girlNextDoor': {
                        id: 'girlNextDoor',
                        label: 'girl next door',
                        image: '/images/girl-next-door.jpg'

                    }
                };

                $scope.channelList = {
                    GruppeA: {
                        admin: $scope.userMap.admin,
                        mia: $scope.userMap.mia,
                        meier: $scope.userMap.meier
                    },
                    privateChat: {
                        meier: $scope.userMap.meier,
                        girlNextDoor: $scope.userMap.girlNextDoor
                    }
                };

                $scope.join = function (id) {
                    Broker.setPeerId(id);
                    Broker.connectServer();
                };
                $scope.$on('BrokerPeerOpen', function (event, data) {
                    $scope.ownPeerId = Broker.getPeerIdFromStorage();
                });

                $scope.setActiveChannel = function (channel) {
                    $scope.activeChannel = channel;
                }

                $scope.ownPeerId = Broker.getPeerIdFromStorage();
                if ($scope.ownPeerId) {
                    $scope.join($scope.ownPeerId);
                }
            });
</script>
</body>
</html>
